$close-color: #fff;
$primary: #428bca;
$secondary: #424242;
$success: #5cb85c;
$info:    #5bc0de;
$warning: #f0ad4e;
$danger:  #d9534f;
$card-bg: #151515;

$web-font-path: '';
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Add new breakpoints.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1900px
);

@import "../../../../bower_components/bootswatch/dist/cyborg/variables";
@import "../../../../bower_components/bootstrap/scss/bootstrap";
@import "../../../../bower_components/bootswatch/dist/cyborg/bootswatch";

body {
    -webkit-font-smoothing: antialiased;
    color: #aaa;
}

canvas {
    border: 0;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

label {
    color: #aaa;
    font-weight: normal;
}

button {
    -webkit-font-smoothing: inherit;
}

fieldset {
    background-color: transparent;
    border-radius: $border-radius-sm;
    border: 1px solid $gray-800 !important;
    margin-bottom: 20px;
    padding: 15px;

    legend {
        border: none;
        display: inline;
        font-size: 1em;
        margin: 0 15px;
        padding: 0 15px;
        width: intrinsic;
    }
}

#content {
    margin-bottom: 20px;
}

.form-control {
    color: #555;
}

.form-control[disabled] {
    color: #000000;
}

.form-control,
.input-group-addon {
    border: none;
    border-radius: 2px;
    box-shadow: none;
}

.form-group {
    label.btn {
        box-shadow: none;
        cursor: pointer;
        width: 45px;

        &.active {
            cursor: default;
        }

        input {
            visibility: hidden;
        }
    }
}

.close {
    font-weight: normal;
    opacity: 1;
    outline: none;
}

.list-group-item,
.list-group-item .badge {
    background-color: initial !important;
}
.list-group-item .badge {
    color: #fff;

    // Use an alternative font stack for badges so that ones that update
    // frequently, like dates and times, don't jump around because of
    // variable-width characters.
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;

    line-height: inherit;
}
.card-header.status:before,
.list-group.status .list-group-item:before {
    background-color: $gray-800;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin-right: 10px;
    width: 8px;
}
.card-header.status.neutral:before,
.list-group.status .list-group-item.neutral:before {
    background-color: $primary;
}
.card-header.status.success:before,
.list-group.status .list-group-item.success:before {
    background-color: $success;
}
.card-header.status.warning:before,
.list-group.status .list-group-item.warning:before {
    background-color: $warning;
}
.card-header.status.danger:before,
.list-group.status .list-group-item.danger:before {
    background-color: $danger;
}
.list-group.status .badge {
    padding: 2px 0 0;
}

.panel {
    border: 1px solid $gray-700;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
