{% extends "filament/base.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<style>
html, body, .container {
    height: 100%;
}
.card {
    margin-bottom: 1em;
    width: 100%;
}
.card a.btn {
    box-shadow: none;
    font-weight: bold;
    padding: 1em 1.5em;
}
</style>
{% endblock %}

{% block content %}
<div class="row align-items-center h-100">
    <div class="col-md-4 my-auto mx-auto text-center">
        {% block heading %}{% endblock %}

        <div class="card">
            <div class="card-body">
            {% if config.PORTAL_LOGIN_ENABLED %}
            <a href="{{ url_for('auth.portal') }}" class="btn btn-block btn-primary">Log in with observer portal</a>

            <div style="margin: 3em 0; font-size: 80%; font-weight: bold; color: #ccc; border-bottom: 1px solid rgba(255, 255, 255, 0.2); line-height: 1px;">
                <span style="background-color: #151515; padding: 0 1em;">OR</span>
            </div>
            {% endif %}

            <form action="" method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.username(class='form-control', placeholder='Username', autofocus=True) }}
                </div>
                <div class="form-group">
                    {{ form.password(class='form-control', placeholder='Password') }}
                </div>
                <input type="submit" value="Log in" class="btn btn-block btn-success">
            </form>
            </div>
        </div>
        <p>Remember to <a href="https://www.saao.ac.za/observers-feedback-form/">give us feedback</a> at the end of your observing run.</p>
    </div>
</div>
{% endblock %}
