{% extends "filament/base.html" %}

{% block head %}
{{ super() }}

<style>
html, body, .container {
    height: 100%;
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
</style>
{% endblock %}

{% block content %}
<div class="row align-items-center h-100">
    <div class="col-md-6 m-auto text-center">
        <h1>This page does not exist.</h1>
    </div>
</div>
{% endblock %}
