{% extends "filament/base.html" %}

{% block head %}
{{ super() }}

<style>
html, body, .container {
    height: 100%;
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
</style>
{% endblock %}

{% block content %}
<div class="row align-items-center h-100">
    <div class="col-md-6 m-auto text-center">
        <h1>Error: {{ error.message or error }}</h1>
        <p>An error occurred while trying to display the page. You can <a href="#" onclick="window.location.reload(); return false;" class="alert-link">reload the page</a> to try again and if the error persists, please contact a support technician.</p>
    </div>
</div>
{% endblock %}
