<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% assets "css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" title="default">
    {% endassets %}

    {% assets "js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}{% endblock %}

    <div id="content" class="container mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert {% if category == 'error' %}alert-danger{% else %}alert-info{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div id="alert" class="alert d-none mt-3" style="border: none; border-radius: 2px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="alert-body"></div>
        </div>

        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
